@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@keyframes logoAnimation {
  from {
    width: 25px;
    opacity: 0;
  }
  to {
    width: 475px;
    opacity: 1;
  }
}

body {
  font-family: 'Poppins', serif;
  background-image: url('path/to/your/concrete_seamless.png');
  background-color: #f1f1f1;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10000; /* 设置一个很高的z-index值 */
}

#logo {
  animation: logoAnimation 5s forwards;
}

.nav_links {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav_item a {
  text-decoration: none;
  color: #000;
  padding: 10px;
}

.nav_item a:visited {
  color: #000;
}

.card > header {
  background: #288088;
  border: 2px solid #45ADAD;
  padding: 20px 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 0 450px;
  margin: 10px;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery img {
  border: 10px solid #50C7C7;
  margin: 10px;
  width: 300px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 900px) {
  .card {
    flex-basis: 275px;
  }
}

@media print {
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav_links {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav_item {
    display: inline;
    margin: 0 5px;
  }

  .pricing {
    align-items: flex-end;
  }

  .card {
    border: 2px solid #45ADDD;
    flex-basis: 325px;
  }

  .gallery, #gallery, .skip {
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}

@media (max-width: 900px) {
  .pricing {
    flex-direction: column;
    align-items: stretch;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  .nav_links {
    flex-direction: column;
    align-items: center;
  }

  .nav_item {
    margin: 5px 0;
  }
}
